#dragfield {
    background-color: #555555;
}
#container {
    position: absolute;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 2px;
}
div.calc {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: solid #5e4534 2px;
    border-radius: 5px;
    background-color: #98825f;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
div.calc:hover {
    background-color: #5e4534;
    color: aliceblue;
}
#FieldContainer {
    display: flex;
    flex-direction: column;
}
div#eqField,
#evField {
    display: flex;
    width: 208px;
    height: 50px;
    border: solid #5e4534 2px;
    border-radius: 5px;
    background-color: #98825f;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}