@import 'variables';

label {
  font-size: $font-medium;
  color: $text-color;
  font-weight: bold;
  @extend .textShadow;
}

h6 {
  font-size: 24px;
  @extend .textShadow;
}

div {
  @extend .textShadow;
}

#divDice {

  input,
  select {
    padding: $spacing-small;
    border: none;
    border-bottom: $border-color 4px solid;
    border-radius: 4px;
    font-size: $font-medium;
    background-color: $rd_color;
    width: 220px;
  }

  .container {
    display: flex;
    flex-direction: row;

    input {
      margin-right: 5px;
    }
  }
}



button {
  background-color: $primary-colorRGB;
  color: #fff;
  padding: $spacing-small $spacing-medium;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.hidebutton {
    background-color: transparent;
    border: 0;
    outline: none;
    color: #36251b;
    padding: $spacing-small $spacing-medium;
    border-radius: 4px;
    font-weight: bold;

    &:hover {
      background-color: rgba(255, 156, 102, 0.5);
    }
  }
}

input[type="text"],
input[type="number"],
select {
  padding: $spacing-small;
  border: none;
  border-bottom: $border-color 4px solid;
  border-radius: 4px;
  font-size: $font-medium;
  background-color: $input_color;
  width: 220px;
}

input[type="number"] {
  width: 84px;

}

#FileReaderInOutput,
#Würfelsektion {
  padding: $spacing-medium;
  // background-color: lighten($background-color, 5%);
  // border: 1px solid $border-color;
  border-radius: 4px;
  margin-top: $spacing-large;
  margin: 12px;
}

a,
.toggleLabel,
#fileInput {
  color: $rd_color !important;
  text-shadow: none !important;
}

input[type="checkbox"] {
  width: 16px;
  align-items: center;
  flex-direction: column;
}

#ShopContainer {
  height: 508px;
}
#shop {
  overflow: scroll;
  scrollbar-width: none;
}

#wReset:hover {
  background-color: red;
}
.ShopHead{
  align-items: center;
  justify-content: space-between;
}
.ShopHeader{
  text-decoration: underline;
}
#ShopButton {
  display: flex;
  width: 38px;
  height: 38px;
  margin: 13px;
  font-weight: bold;
  color: $text-color;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  @extend .textShadow;
}

div.calc {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding-bottom: auto;
  border: solid $rd_color 2px;
  border-radius: 5px;
  background-color: #98825f;
  font-size: 40px;
  cursor: pointer;
}

div.calc:hover {
  background-color: $rd_color;
  color: $text-color;
}

#FieldContainer {
  display: flex;
  flex-direction: column;
}

div#eqField,
#evField {
  display: flex;
  width: 248px;
  height: 60px;
  border: solid $rd_color 2px;
  border-radius: 5px;
  background-color: $secondary-color;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}