@import 'variables';

.container {
  max-width: 1200px;
  margin: 0;
  padding: $spacing-large;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;
}

.hidden-items {
  display: none;
}



.FlexItemContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  width: 340px;
  // border: 1px solid $primary-color;
  margin: 18px;
  margin-top: 0;
  margin-bottom: 12px;
  @extend .card;

}

.infoFlexContainer {
  margin: 38px;
  margin-top: 0;
  margin-bottom: 0;
  @extend .card;
}

.BigFlexItemContainer {
  width: 420px;

  // border: 1px solid $primary-color;

}

// Flex Layout Containers
.Rowflex,
.attributeFlexContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 0;
  margin: 0;
}

.WalletContainer {
  flex-direction: column;
  width: 320px !important;
}

.attributeFlexContainer {
  flex-wrap: wrap;
}

label {
  flex: 1;
  margin-right: 10px;
  text-align: left;
}

.mediumFlexItem {
  width: 320px;
}

.FlexItem,
.mediumFlexItem,
.BigFlexItem {
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 35px;
  margin-top: 10px;
  padding: 0 5px;
  justify-content: space-between;
}