@charset "UTF-8";
.textShadow, div, h6, label {
  text-shadow: 2px 2px 0px rgb(235, 220, 181);
}

.card, .infoFlexContainer, .FlexItemContainer {
  background-image: url("../assets/pappenheimer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.backgroundIMG {
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.textShadow, div, h6, label {
  text-shadow: 2px 2px 0px rgb(235, 220, 181);
}

.card, .infoFlexContainer, .FlexItemContainer {
  background-image: url("../assets/pappenheimer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.backgroundIMG {
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quintessential", serif;
  background-color: #e1d4b7;
  color: #36251b;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: bold;
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

input,
button,
select {
  font-family: inherit;
}

.textShadow, div, h6, label {
  text-shadow: 2px 2px 0px rgb(235, 220, 181);
}

.card, .infoFlexContainer, .FlexItemContainer {
  background-image: url("../assets/pappenheimer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.backgroundIMG {
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0;
  padding: 24px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hidden-items {
  display: none;
}

.FlexItemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 340px;
  margin: 18px;
  margin-top: 0;
  margin-bottom: 12px;
}

.infoFlexContainer {
  margin: 38px;
  margin-top: 0;
  margin-bottom: 0;
}

.BigFlexItemContainer {
  width: 420px;
}

.Rowflex,
.attributeFlexContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 0;
  margin: 0;
}

.WalletContainer {
  flex-direction: column;
  width: 320px !important;
}

.attributeFlexContainer {
  flex-wrap: wrap;
}

label {
  flex: 1;
  margin-right: 10px;
  text-align: left;
}

.mediumFlexItem {
  width: 320px;
}

.FlexItem,
.mediumFlexItem,
.BigFlexItem {
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 35px;
  margin-top: 10px;
  padding: 0 5px;
  justify-content: space-between;
}

.textShadow, div, h6, label {
  text-shadow: 2px 2px 0px rgb(235, 220, 181);
}

.card, .FlexItemContainer, .infoFlexContainer {
  background-image: url("../assets/pappenheimer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.backgroundIMG {
  background-image: url("../assets/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

label {
  font-size: 1rem;
  color: #36251b;
  font-weight: bold;
}

h6 {
  font-size: 24px;
}

button {
  background-color: rgba(166, 138, 125, 0.4);
  color: #fff;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #8e7062;
}
button.hidebutton {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #36251b;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}
button.hidebutton:hover {
  background-color: rgba(255, 156, 102, 0.5);
}

input[type=text],
input[type=number],
select {
  padding: 8px;
  border: none;
  border-bottom: #1f110a 4px solid;
  border-radius: 4px;
  font-size: 1rem;
  background-color: transparent;
  width: 220px;
}

input[type=number] {
  width: 84px;
}

#FileReaderInOutput,
#Würfelsektion {
  padding: 16px;
  border-radius: 4px;
  margin-top: 24px;
  margin: 12px;
}

a,
.toggleLabel,
#fileInput {
  color: #ffffff !important;
  text-shadow: none !important;
}

input[type=checkbox] {
  width: 16px;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */