body {
    background-color: #F4E3C3;
    color: #5C4033;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto !important;
    margin: -10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ddd;
}

.content {
    flex: 1;
}

input,
select,
option {
    color: #5C4033;
    background-color: #F4E3C3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid #5C4033;
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: none;
    color: none;
}

input[type="file"] {
    border: 2px solid #5C4033;
}

input:focus,
select:focus {
    outline: none;
    border-color: #8B6A4A;
}

h6 {
    font-size: 18px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

button {
    color: #5C4033;
    background-color: #F4E3C3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid #8B6A4A;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    color: #8B6A4A;
    background-color: #422e25;
    border: 0;
}

button:active {
    background-color: #F4E3C3;
}

.Rowflex {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.WalletContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 320px !important;
}

.attributeFlexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0;
}

.infoFlexContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 2px solid #8B6A4A;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 4px 1px #000000;
}

.FlexItemContainer {
    display: flex;
    width: 350px;
    flex-direction: column;
    border: 2px solid #8B6A4A;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 4px 1px #000000;
}

.BigFlexItemContainer {
    display: flex;
    flex-direction: column;
    width: 380px;
    border: 2px solid #8B6A4A;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 4px 1px #000000;
}

.FlexItem,
.mediumFlexItem,
.BigFlexItem {
    display: flex;
    font-size: 16px;
    align-items: center;
    border: 1px solid #8B6A4A;
    border-radius: 6px;
    height: 35px;
    margin-top: 10px;
    padding: 0 5px;
    justify-content: space-between;
    
}

.FlexItem {
    width: 340px;
}

.mediumFlexItem {
    width: 320px;
}

.BigFlexItem {
    width: 100%;
}

.hidebutton {
    color: black;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    margin-left: 5px;
}

.hidebutton:hover {
    color: red;
}
.eingabefeld {
    width: 100%;
    outline: none;
    border: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    border-radius: 4px;
}
.attributeInput,
.ArrAttributeInput {
    margin-left: auto;
    text-align: right;
    border: 0;
    width: 50px;
    font-size: 16px;
}

.attributeInput:hover,
.ArrAttributeInput:hover{
    border: 1px solid #8B6A4A;
    border-radius: 6px;
}

.attributeInput:focus,
.ArrAttributeInput:focus,
.eingabefeld:focus {
    border: 1px solid #8B6A4A;
    border-radius: 6px;
}

label {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

.ArrayContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 97%;
}

select {
    outline: none;
    border: 0;
    border-radius: 6px;
    width: 260px;
}

#CurrencyField {
    width: 200px;
}
