body{
    background-color: #F4E3C3;
    color: #5C4033;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto !important;
    margin: -10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ddd;
}
.content {
    flex: 1;
}
input {
    color: #5C4033;
    background-color: #F4E3C3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid #5C4033;
    border-radius: 5px;
}

h6 {
    font-size: 18px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

button {
    color: #5C4033;
    background-color: #F4E3C3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid #8B6A4A;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    color: #8B6A4A;
    border: 0px;
    border-radius: 5px;
    background-color: #422e25;
}

button:active {
    color: #8B6A4A;
    border: 0px;
    border-radius: 5px;
    background-color: #F4E3C3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: none;
    color: none;
}

input[type="file"] {
    color: #5C4033;
    background-color: #F4E3C3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 2px solid #5C4033;
    border-radius: 5px;
}

.Rowflex {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.WalletContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px !important;
    margin-bottom: 0 !important;

}

.attributeFlexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 0px;
}

.FlexItem {
    display: flex;
    font-size: 16px;
    align-items: center;
    border: 1px solid #8B6A4A;
    border-radius: 6px;
    height: 35px;
    width: 340px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
}

.BigFlexItem {
    display: flex;
    font-size: 16px;
    align-items: center;
    border: 1px solid #8B6A4A;
    border-radius: 6px;
    height: 35px;
    width: 350px;
    margin-top: 10px;
    padding-left: 2px;
    justify-content: space-between;
}

.hidebutton {
    color: black;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    margin-left: 5px;
}

.hidebutton:hover {
    color: red;
}

.attributeInput {
    margin-left: auto;
    width: 50px;
    font-size: 16px;
    border: 0;
    text-align: right;
}

.attributeInput:hover {
    border: 1px solid #8B6A4A;
    border-radius: 6px;
}

.attributeInput:focus {
    border: 1px solid #8B6A4A;
    border-radius: 6px;
    outline: none;
}

.FlexItemContainer {
    width: 350px;
    border: solid #8B6A4A 2px;
    border-radius: 6px;
    padding: 5px;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    margin: 5px;
    
    justify-content: space-between;
}

.infoFlexContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: solid #8B6A4A 2px;
    border-radius: 6px;
    padding-left: 5px;
    width: 350px;
    padding-bottom:10px ;

}

.infoFlexItem {
    display: flex;
    font-size: 16px;
    align-items: center;
    border: 1px solid #8B6A4A;
    border-radius: 6px;
    margin: 5px;
    padding-left: 2px;
}

.eingabefeld {
    width: 100%;
    outline: none;
    border: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    border-radius: 4px;
}

/* .rakla-select {
    display: flex;
    flex-direction: column;
    border: 1px solid #8B6A4A;
    border-radius: 6px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
} */

select,
option {
    color: #5C4033;
    background-color: #F4E3C3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 2px;
    border-radius: 6px;
    margin-left: auto;
    font-size: 16px;
    border: 0;
    text-align: left;
    width: 260px;
}

select:focus {
    outline: none;
    border: none;
}

select {
    outline: none !important;
    border: none !important;
}
#CurrencyField{
    width: 200px;
}
.mediumFlexItem {
    display: flex;
    font-size: 16px;
    align-items: center;
    border: 1px solid #8B6A4A;
    border-radius: 6px;
    height: 35px;
    width: 320px;
    margin-top: 10px;
    padding-left: 2px;
    justify-content: space-between;
    margin-right: 5px;
}