.diceOutput {
    margin-left: 2px;
    margin-right: 2px;
}

.diceOutputMax {
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
}

.diceOutputMin {
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
}
.dice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Abstand zwischen den Würfeln */
}

.diceOutputMax {
    fill: red;
    font-weight: bold;
}

.diceOutputMin {
    fill: green; /* Angepasst, um die grüne Farbe sichtbar zu machen */
    font-weight: bold;
}

.diceOutput {
    fill: black;
}

svg {
    margin: 5px;
    display: block;
}
